@import url('https://fonts.googleapis.com/css?family=Raleway:400,600|Shadows+Into+Light');
/*GLOBAL SECTION*/
body {
  min-height: 100vh;
  max-height: 100vh;
}

.shadows{
  font-family: 'Shadows Into Light', cursive;
}

.rale{
  font-family: 'Raleway', sans-serif;
}

html{
  height: 100%;
  width: 100%;
}



/*HERO SECTION*/
.jumbotron{
  background-image: url("../img/hero.jpg");
  text-align: center;
  color: #fff;
  background-position: center;
  height: 50vh;
  width: 100%;
  text-align: center;
  margin-bottom: 0%;

}

#name{
  padding-top: 3%;
}
.jumbotron .h1, .jumbotron h1{

}

.black{
  background-color: rgba(0, 0, 0, 0.5);
  height: 55%;
}

.box{
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
}

.contact{
  padding-top: 2%
}


.btn-primary:hover, .btn-primary:active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

/*SOCIAL ICONS*/
ul {
    padding:0;
    list-style: none;
}

.footer-social-icons {
    width: 10px;
    display:block;
    margin: 0 auto;
    padding-right: 100%;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: ;
}

i {
  height: 36px;
  width: 34px;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 11px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-instagram {
    padding:10px 11px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #e25714;
}


/*WORK SECTION*/

.work{
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 3em;
  height: %;
  border-bottom: 3px solid #337ab7
}


/*Links Section*/

.pastwork{
  background-color: #000;
  height: 33%;
}

.thumbnail {
  background-color: rgba(255, 255, 255, 0.9);
}

#image{

}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.pastwork:hover .text{
  visibility:visible;
  color: #fff;
}

.buttons{
  height: 40.6vh;
  background-color: #000;
}

.row{
  background-color: #000;
  padding: 2%;
  margin-right: 0%;
  padding-right: 15%;
}

.bg{
  background-color: #000;

}

.text{
  visibility: hidden;
  height: 5%;
}
